@use "./variables" as variable;

.music-player {
  position: absolute;
  top: 32px;
  right: 32px;
  width: auto;
  z-index: 9999;

  button {
    background: transparent;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    color: variable.$dark;
  }

  &__speaker {
    width: 24px;
    animation: pulse 1.5s infinite;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

