@use "./variables" as variable;

.music-player {
  position: absolute;
  top: 32px;
  right: 32px;
  width: auto;
  z-index: 9999;

  button {
    background: transparent;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    color: variable.$dark;
  }

  &__speaker {
    width: 20px;
  }
}
