@use "./variables" as variable;

.tarjeta {
  text-align: center;
  color: variable.$dark;
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: 0 auto;
  &__nombre {
    position: relative;
    top: -16px;
  }

  &__motivo {
    margin-top: -110px;
  }

  .content {
    padding: 16px;
  }

  &__invitado {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 1.2rem;
    line-height: 1.4;
    font-size: 0.9rem;
    &--name {
      font-family: "Great Vibes", cursive;
      font-weight: 400;
      font-size: 1.8rem;
    }
  }

  &__mensaje {
    font-family: "Great Vibes", cursive;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    line-height: 1.1;
  }

  .detalle-date {
    background: url(../assets/background-date.png) no-repeat center center;
    background-size: contain;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
    font-weight: 600;
    span {
      width: fit-content;
    }
    &__day {
      padding: 0 32px;
      font-size: 3rem;
    }
  }

  &__direccion {
    font-size: 0.85rem;
    margin-top: 0.4rem;
    font-weight: 600;
  }

  &__vestuario {
    margin-top: 1.5rem;
  }

  &__colores {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 4px;
  }

  &__final {
    border-top: 1px solid variable.$royal;
    border-bottom: 1px solid variable.$royal;
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;

    &--italic {
      font-style: italic;
      font-weight: normal;
    }
  }
}

.colores-set {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 4px;
  &__color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    &--lavender {
      background-color: variable.$lavender;
    }
    &--lilac {
      background-color: variable.$lilac;
    }
    &--orchid {
      background-color: variable.$orchid;
    }
    &--royal {
      background-color: variable.$royal;
    }
    &--dark {
      background-color: variable.$dark;
    }
  }
}

.tarjeta-regalo {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    &__icon {
      width: 24px;
    }
    &__text {
      width: fit-content;
      font-weight: 600;
    }
  }

.mapa-btn {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: variable.$dark;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  font-weight: 500;
  &__icon {
    width: 16px;
  }
}

